.flex {
  display: flex;
}

.cards {
  width: 50%;
  padding: 0 1rem;

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}

.laptop-card:hover {
  background: #e8ebf7;
}

.laptop-card {
  display:flex;
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  height: 150px;

  &:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  }
}

// .laptop-card-actions {
//   display: flex;
//   background-color: #fff;
//   padding: 12px 20px;
// }

.laptop-card > img {
  object-fit: cover;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.laptop-card-text {
  padding: 10px;
}

.index-container {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}

.mapboxgl-popup-content {
 a {
    color: black;
    text-decoration: none;
    }

  &:hover {
        background-color:#e8ebf7;
    }
}
