
<div>
  <%= form_tag cars_path, method: :get, class: "simple_form search" do %>
     <div class="search-form-control form-group">

    <%= text_field_tag "by_location[address]", nil, required: true, id: "location", placeholder: "Ville" %>
    <%= hidden_field_tag "by_location[distance]", nil, value: 40, required: true %> <!-- hidden field for distance parameter -->

      <button name="button" type="submit" class="btn btn-primary">
       <i class="fas fa-search"></i> Rent now
      </button>

    </div>
  <% end %>
</div>

