  <div class="banner">
<!--     <div class="banner-content">
 -->      <h1>Rent a laptop in <strong>3 min</strong>!</h1>
      <%= link_to "Rent Now", laptops_path, class: "btn btn-success" %>
<!--     </div>
 -->  </div>

