
<div class="banner">
  <div class="container">
    <h1>Rent a laptop in <strong>3 min</strong>!</h1>
    <%= link_to "Rent Now", laptops_path, class: "btn btn-success" %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
