.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  border-radius : 5px;
  margin: 14px 14px;
}

.btn-logo_home {
  justify-content: left;
  display: flex;
  align-items: center;
  border-radius : 5px;
  margin: 10px 10px;
  vertical-align: middle;
}

.avatar .dropdown-toggle {
  margin: 0px 0px 16px;
}

.menu-list {
  display: flex;
  align-items: center;
}


//p {
  //margin-top: 0;
  //margin-bottom: 0rem;
//}
