<head>
</head>

<h1>All available laptops</h1>

<div class="laptop-index">
<% @laptops.each do |laptop| %>
  <h2> <%= link_to laptop.name, laptop_path(laptop) %> </h2>
    <ul>
      <li>Description: <%= laptop.description %></li>
      <li>Price: <%= laptop.price_per_day %> euros per day</li>
    </ul>
    </div>
  <% end %>
</div>

<%= link_to "Add a laptop", new_laptop_path, class: "btn btn-primary" %>

</div>

