<head>
</head>

<div class="container">
  <h1>All available laptops</h1>
</div>


<div class="container">
<% @laptops.each do |laptop| %>
  <h2> <%= link_to laptop.name %> </h2>
    <ul>
      <li>Description: <%= link_to laptop.description %></li>
      <li>Price: <%= link_to laptop.price_per_day %> euros per day</li>
    </ul>
    </div>
  <% end %>
</div>
</div>

